/*Vai centralizar o html, editar a fonte e a largura*/
html{
	
	margin-left:14%;
	font-family: "Arial";
	width: 70%;
	
}

/*Vai editar as div com informações do formulario*/
.x{
	border: 1px solid #000000;
	position: relative;
	top: 30px;
	left: 30px;
}

/*Vai editar as div de texto avulso do formulario*/
.y{
	text-align: center;
	background-color: #C0C0C0;
	position: relative;
	top: 30px;
	left: 30px;
}

/*Vai criar uma margem dentro do formulario*/
.margin{
	margin: 10px;
}

/*Vai arrumar o espaçamento tags mencionadas*/
input, select, textarea{
	margin-bottom: 10px;
	margin-top: 10px;
}
 
